doctype html
script.
  var testValues = "2457016,2457026,2457036,2457046,2457056,2457066,2457076,2457086,2457096,2457106,2457116,2457126,2457136,2457146,2457156,2457166,2457176,2457186,2457196,2457206,2457216,2457226,2457236,2457246,2457256,2457266,2457276,2457286,2457296,2457306,2457316,2457326,2457336,2457346,2457356,2457366,2457376,2457386,2457396,2457406,2457416,2457426,2457436,2457446,2457456,2457466,2457476,2457486,2457496,2457506,2457516,2457526,2457536,2457546,2457556,2457566,2457576,2457586,2457596,2457606,2457616,2457626,2457636,2457646,2457656,2457666,2457676,2457686,2457696,2457706,2457716,2457726,2457736,2457746,2457756,2457766,2457776,2457786,2457796,2457806,2457816,2457826,2457836,2457846,2457856,2457866,2457876,2457886,2457896,2457906,2457916,2457926,2457936,2457946,2457956,2457966,2457976,2457986,2457996,2458006,2458016,2458026,2458036,2458046,2458056,2458066,2458076,2458086,2458096,2458106,2458116,2458126,2458136,2458146,2458156,2458166,2458176,2458186,2458196,2458206,2458216,2458226,2458236,2458246,2458256,2458266,2458276,2458286,2458296,2458306,2458316,2458326,2458336,2458346,2458356,2458366,2458376,2458386,2458396,2458406,2458416,2458426,2458436,2458446,2458456,2458466,2458476,2458486,2458496,2458506,2458516,2458526,2458536,2458546,2458556,2458566,2458576,2458586,2458596,2458606,2458616,2458626,2458636,2458646,2458656,2458666,2458676,2458686,2458696,2458706,2458716,2458726,2458736,2458746,2458756,2458766,2458776,2458786,2458796,2458806,2458816,2458826,2458836,2458846,2458856,2458866,2458876,2458886,2458896,2458906,2458916,2458926,2458936,2458946,2458956,2458966,2458976,2458986,2458996,2459006,2459016,2459026,2459036,2459046,2459056,2459066,2459076,2459086,2459096,2459097,2459098,2459099,2459100,2459101,2459102,2459103,2459104,2459105,2459106,2459107,2459108,2459109,2459110,2459111,2459112,2459113,2459114,2459115,2459116,2459117,2459118,2459119,2459120,2459121,2459122,2459123,2459124,2459125,2459126,2459127,2459128,2459129,2459130,2459131,2459132,2459133,2459134,2459135,2459136,2459137,2459138,2459139,2459140,2459141,2459142,2459143,2459144,2459145";
  testValues = testValues.replace(/,/g, "\r\n");

html
  head.
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      
      <style type="text/css">
        body {
          padding: 10px;
        }
        .page-container {
          max-width:1000px;
          margin: 0 auto;
        }
        .paramsinput > input {
          margin-right: 10px;
          width: 200px;
        }
        .paramsinput > select {
          margin-right: 10px;
          width: 200px;
        }
        td {
          padding: 3px;
        }
      </style>
      
  body
    div.page-container
      h1 #{title}
      hr
      br
      div.container
        div.row
          div.col-md-6
            h5 Select a star:
            select#starSelector
              option
                | -
              option(value="KIC 9832227")
                | KIC 9832227
              option(value="V1309 Sco")
                | V1309 Sco
              option(value="V859 Cyg")
                | V859 Cyg
          div.col-md-6.paramsinput
            h5 Parameters:
            select
              option
                | Linear
              option
                | Exponential
            label Star Type
            br
            input
            label T1 (JD)
            br
            input
            label Tc (JD)
            br
            input
            label P (d)
            br
            input
            label T (d)
            br
            input
            label Pref (d)
            br
      
      br
      br
      p Paste input (one item per line) in the boxes below:
      a(onClick="document.getElementById('jDates').value=testValues") [Autofill with test values]
      form(action="/compute" method="post")
        div.container
          div.row
            div.col-md-4
              h5 Julian Dates
              textarea(id="jDates" name="data" rows="10" cols="50")
            div.col-md-4
              h5 Magnitudes
              textarea(id="magnitudes" name="magnitudes" rows="10" cols="50")
            div.col-md-4
              br
              br
              button Upload CSV
              br
              br
              button Upload Template
              br
              br
              button(type="submit") Submit
        
      br
      hr
      
      if hasResults == true
        h2 Results
        
        
        div.row
          div.col-md-4
            h5 BJD
            textarea(id="BJD" name="" rows="10" cols="40")
              - inHeader = true;
              for row in results
                - var lineArr = row.split(",");
                if inHeader == false
                  | #{lineArr[0]+"\r\n"}
                - if (lineArr[0] == "EOH") inHeader = false;
          div.col-md-4
            h5 Cycles
            textarea(id="Cycles" name="" rows="10" cols="40")
              - inHeader = true;
              for row in results
                - var lineArr = row.split(",");
                if inHeader == false
                  | #{lineArr[1]+"\r\n"}
                - if (lineArr[0] == "EOH") inHeader = false;
          div.col-md-4
            h5 Phase
            textarea(id="Phase" name="" rows="10" cols="40")
              - inHeader = true;
              for row in results
                - var lineArr = row.split(",");
                if inHeader == false
                  | #{lineArr[2]+"\r\n"}
                - if (lineArr[0] == "EOH") inHeader = false;
        
        
        br
        br
        a.toggleRawLink() [Toggle Raw Output]
        br
        br
        br
        
        
          
        
        table(class="table table-striped table-bordered raw-output" style="display:none;")
          for row in results
            tr
              - var lineArr = row.split(",");
                for cell in lineArr
                  td
                    html.
                      #{cell}
                    
                    
  script.
    $(".toggleRawLink").click(function() {
      $(".raw-output").toggle();
    });
    
    $("#starSelector").change(function() {
      //- window.alert("star changed");
      starVal = $("#starSelector").val();
      
    });
